<div class="p-grid">
    <div class="p-col-3"  *ngFor ="let event of this.eventService.eventList">
      <p-card header="{{ event.eventName }}" subheader="จำนวนคนสมัคร {{event.registered}} / {{ event.amount }}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/images/cover.png">
        </p-header>
        <div>
        {{ event.startDate }} <br>
        {{ event.description }}</div>
        <p-footer>
          <button pButton type="button" label="ดูรายละเอียด" (click)="viewEvent(event)" icon="pi pi-check" style="margin-right: .25em"></button>
          <button pButton type="button" label="แก้ไข" (click)="editEvent(event)" icon="pi pi-check" style="margin-right: .25em"></button>

        </p-footer>
      </p-card>
    </div>
</div>

