<div class="p-grid">
<div class="p-col-12"></div>
<div class="p-col-1">
</div>
<div class="p-col-10">
<div class="p-grid">
    <div class="p-col-3"  *ngFor ="let event of this.eventService.eventList">
      <p-card header="{{ event.eventName }}" subheader="จำนวนคนสมัคร {{event.registered}} / {{ event.amount }}" [style]="{width: '260px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/images/cover.png">
        </p-header>
        <div>
        วันจัดอบรม: {{ event.startDate }} -   {{ event.endDate }}<br>
        ปิดรับสมัคร: {{ event.expDate }} <br>
        สถานะ:
        <span>

         {{ this.eventService.status[event.eventStatus] }}
         </span></div>
        <p-footer>
          <button pButton type="button" label="ดูรายละเอียด" (click)="viewEvent(event)"
            icon="pi pi-eye" style="margin-right: .25em" ></button>
            <div *ngIf="this.currentUser.typeID === 1" style="margin-top: 10px;">
          <button pButton type="button" label="ลบ" (click)="deleteEvent(event.eventID)"
            icon="pi pi-trash" class="ui-button-danger" style="margin-right: .25em"></button>
          <button pButton type="button" label="แก้ไข" (click)="editEvent(event)"
            icon="pi pi-pencil" *ngIf="event.eventStatus == 1" class="ui-button-secondary"  style="margin-right: .25em"></button>
            <button pButton type="button" label="รายงาน" (click)="reportEvent(event)"
            icon="pi pi-file-o" *ngIf="event.eventStatus == 0" class="ui-button-success"  style="margin-right: .25em"></button>
            </div>
        </p-footer>
      </p-card>
    </div>
</div>
<div class="p-col-1">
</div>
</div>
